h1 {
    text-align: center;
  }
  
  .ache4 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 5%;
  }
  
  .numero {
    color: red;
    margin-right: 2%;
  }
  
  .letra {
    font-weight: bold;
    margin-right: 4px;
  }
  
  .filtrados {
    display: flex;
    gap: 1%;
    flex-wrap: wrap;
    margin-bottom: 3%;
  }
  
  button {
    margin-left: 5%;
    margin-bottom: 1%;
  }
  
  /* Responsivo */
  
  @media screen and (max-width: 768px) {
    .filtrados {
      flex-direction: column;
      align-items: center;
    }
  
    .filtrados .input,
    .filtrados .select {
      margin-bottom: 1%;
      width: 100%;
    }
  
    button {
      margin-left: 0;
      margin-bottom: 2%;
      width: 100%;
    }
  }
  