<div class="filtrados">
 <div class="select">
  <label for="">Posicion</label>
  <select class="form-control form-control-md" (change)="filtrarPorPosicion()" name="input" [(ngModel)]="input">
    <option value="" [selected]>Seleccione uno</option>
    <option *ngFor="let item of posiciones" value="{{item}}">{{item}}</option>
  </select>
 </div>
  
  <div class="input">
    <label for="">Nombre</label>  
    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
  </div>
</div>


<!-- <div class="tabla" *ngIf="input==undefined">
  <p-table class="table" [value]="mercado" [paginator]="true" [rows]="10"
[showCurrentPageReport]="true" currentPageReportTemplate="Mostrando {first} hasta {last} de {totalRecords} resultados">
  <ng-template pTemplate="header" class="header">
    <tr class="enunciado">
      <th pSortableColumn="id">ID</th>
      <th pSortableColumn="nombre">Nombre</th>
      <th pSortableColumn="posicion">Posicion</th>
      <th>Reservar</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item>
    <tr>
    <td>{{item.id}}</td>
    <td>{{item.nombre}}</td>
    <td>{{item.posicion}}</td>
    <td><a class="btn btn-success" [routerLink]="['/listaPistas',item.id]" >Ver info</a></td>
    </tr>
    
  </ng-template>
</p-table>
</div> -->

<div class="tabla">
  <p-table class="table" [value]="mercado" [paginator]="true" [rows]="10"
[showCurrentPageReport]="true" currentPageReportTemplate="Mostrando {first} hasta {last} de {totalRecords} resultados">
  <ng-template pTemplate="header" class="header">
    <tr class="enunciado">
      <th pSortableColumn="id">ID</th>
      <th pSortableColumn="nombre">Nombre</th>
      <th pSortableColumn="posicion">Posicion</th>
      <th>Reservar</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item>
    <tr *ngIf="item.posicion===input; else datos">
    <td>{{item.id}}</td>
    <td>{{item.nombre}}</td>
    <td>{{item.posicion}}</td>
    <td><a class="btn btn-success" [routerLink]="['/listaPistas',item.id]" >Ver info</a></td>
    </tr>
  </ng-template>
  <ng-template #datos pTemplate="body" let-item>
    <tr>
    <td>{{item.id}}</td>
    <td>{{item.nombre}}</td>
    <td>{{item.posicion}}</td>
    <td><a class="btn btn-success" [routerLink]="['/listaPistas',item.id]" >Ver info</a></td>
    </tr>
  </ng-template>
</p-table>
</div>