<div class="text-center" *ngIf="mercado==undefined">
  <p-progressSpinner></p-progressSpinner>
</div>
<div *ngIf="mercado!=undefined">
  <button (click)="ocultarBoton()" type="button" class="btn btn-primary">Filtrar</button>
  <div class="filtrados" *ngIf="boton">
   <div class="select">
    <label for="">Posicion</label>
    <select class="form-control form-control-md" (change)="filtrarPorNombre()" name="input" [(ngModel)]="input">
      <option *ngFor="let item of posiciones" value="{{item}}">{{item}}</option>
    </select>
   </div>
    <div class="input">
      <label for="">Nombre</label>
      <form (ngSubmit)="filtrarPorNombre()">
        <input [(ngModel)]="nombre" name="nombre" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
      </form>  
    </div>
  </div>
  
  
  <div class="tabla" *ngIf="input==undefined">
    <p-table class="table" [value]="mercado" [paginator]="true" [rows]="10"
  [showCurrentPageReport]="true" currentPageReportTemplate="Mostrando {first} hasta {last} de {totalRecords} resultados">
    <ng-template pTemplate="header" class="header">
      <tr class="enunciado">
        <th pSortableColumn="id">ID</th>
        <th pSortableColumn="nombre">Nombre</th>
        <th pSortableColumn="posicion">Posicion</th>
        <th>Comprar</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
      <td>{{item.id}}</td>
      <td>{{item.nombre}}</td>
      <td>{{item.posicion}}</td>
      <td><a class="btn btn-success" (click)="comprarJugadores(item.id)" >Comprar</a></td>
      </tr>
      
    </ng-template>
  </p-table>
  </div>
  
  <div class="tabla" *ngIf="input!=undefined">
    <p-table class="table" [value]="mercado" [paginator]="true" [rows]="10" [totalRecords]="mercado.length"
  [showCurrentPageReport]="true" currentPageReportTemplate="Mostrando {first} hasta {last} de {totalRecords} resultados">
    <ng-template pTemplate="header" class="header">
      <tr class="enunciado">
        <th pSortableColumn="id">ID</th>
        <th pSortableColumn="nombre">Nombre</th>
        <th pSortableColumn="posicion">Posicion</th>
        <th>Reservar</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
      <td>{{item.id}}</td>
      <td>{{item.nombre}}</td>
      <td>{{item.posicion}}</td>
      <td><a class="btn btn-success" (click)="comprarJugadores(item.id)" >Comprar</a></td>
      </tr>
    </ng-template>
  </p-table>
  </div>
</div>
<p-toast key="toastCompra"></p-toast>
