.select{
    margin-left: 1%;
    margin-bottom: 2%;
    width: 5%;
}

.input{
    margin-left: 1%;
    margin-bottom: 2%;
    width: 10%;
}

.filtrados{
    display: flex;
    gap: 1%;
}

button{
    margin-left: 5%;
    margin-bottom: 1%;
}