h1 {
    text-align: center;
    margin-bottom: 3%;
  }
  
  /* Responsivo */
  
  @media screen and (max-width: 768px) {
    .p-datatable .p-datatable-tbody > tr > td,
    .p-datatable .p-datatable-thead > tr > th {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  
    .p-datatable .p-paginator {
      margin-top: 1rem;
    }
  }
  