.esp{
    margin-bottom: 2%;
}

img{
    width: 100%;
}
/* .containerImage{
    width: 30vh;
    height: 60;
} */
h1,h4{
    text-align: center;
    margin-bottom: 2%;
}

button{
    margin-right: 1%;
}
