<h1>Equipo</h1>
<div class="text-center" *ngIf="plantilla==undefined">
  <p-progressSpinner></p-progressSpinner>
</div>
<div class="containerUsers" *ngIf="plantilla!=undefined">
    <div>
        <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col" *ngFor="let item of plantilla">
              <div class="card">
                <img src="https://pbs.twimg.com/media/FuzVTTBWIAAhnfJ.jpg" alt="Imagen del jugador">
                <div class="card-body">
                  <h5 class="card-title">{{item.nombre}}</h5>
                  <p class="card-text">{{item.posicion}}</p>
                  <button (click)="venderJugador(item.id)" class="btn btn-primary">Vender</button>
                  <button (click)="hacerAlineacion(item)" class="btn btn-success">Añadir a plantilla</button>
                </div>
              </div>
            </div>
            <button (click)="guardarAlineacion()" class="btn btn-danger col-md-12">Guardar</button>
            <p-toast key="plantilla"></p-toast>
          </div>
    </div>
</div>