 <div class="vh-90 d-flex justify-content-center align-items-start">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
          <div class="card bg-white border-primary">
            <div class="card-body p-5">
                <form [formGroup]="myForm" (ngSubmit)="save()">
                    <h2 class="fw-bold mb-2 text-uppercase text-center">Editar Perfil</h2>
                    <div class="mb-3" hidden>
                        <label for="username" class="form-label ">Usuario</label>                        
                        <input type="text"
                        formControlName="username" 
                        class="form-control" 
                        id="username" 
                        aria-describedby="emailHelp" 
                        placeholder="Enter username">
                        <span 
                        class="form-text text-warning"
                        *ngIf="notValid('username')"
                        >
                            El usuario es requerido
                        </span>
                    </div>
                    <div class="mb-3" hidden>
                        <label for="exampleInputEmail1" class="form-label text-dark">Role</label>
                        <input 
                        type="text" 
                        class="form-control border border-primary" 
                        aria-describedby="emailHelp"
                        name="nombre"
                        formControlName="role"
                        >
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1">Nombre</label>
                        <input type="text" class="form-control"
                        formControlName="nombre" 
                         placeholder="Nombre">
                         <span 
                         class="form-text text-warning"
                         *ngIf="notValid('nombre')"
                         >
                             Tiene que tener una longitud minima de 3 caracteres
                         </span>
                    </div>
                <div class="mb-3">
                  <label for="email" class="form-label ">Email</label>
                  <input type="email" 
                    class="form-control" 
                    formControlName="email"
                    aria-describedby="emailHelp" 
                    placeholder="Enter email">
                <span 
                class="form-text text-warning"
                *ngIf="notValid('email')"
                >
                    El email es requerido o no tiene ese formato
                </span>
                </div>
                <div class="mb-3">
                  <label for="password" class="form-label ">Password</label>
                  <input type="password" 
                    formControlName="pass"
                    class="form-control" 
                    placeholder="Password"
                    autocomplete="current-password">
                <span 
                class="form-text text-warning"
                *ngIf="notValid('pass')"
                >
                    La contraseña es requerida
                </span>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1">Telefono</label>
                    <input type="tel" 
                    class="form-control" 
                    formControlName="telefono"
                    placeholder="Telefono">
                    <span 
                    class="form-text text-warning"
                    *ngIf="notValid('telefono')"
                    >
                        Tiene que tener una longitud minima de 9 caracteres
                    </span>
                </div>
                <div class="col-sm-9">
                    <label for="exampleInputPassword1" class="form-label text-light">Foto</label>
                    <input type="file" 
                    class="form-control" 
                    formControlName="fotoPerfil" 
                    name="fotoPerfil" 
                    (change)="onFileSelected($event)" 
                    />
                      </div>
                <!-- <p class="small"><a class="text-primary" href="forget-password.html">Forgot password?</a></p> -->
                <div class="d-grid">
                  <button type="submit" class="btn btn-outline-primary">Enviar</button>
                  <button [routerLink]="['/auth/login']" class="btn btn-outline-primary">Volver atrás</button>
                </div>
              </form>
              <p-toast key="update"></p-toast>
                </div>
          </div>
        </div>
      </div>
    </div>
  </div>