.containerNavbar{
  top: 0;
  left: 0;
  width: 100%;
}

.containerFlex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #CCDAFF;
  min-height: 150px;
  flex-direction: row;
  min-height: 150px;
}

.containerImage{
    height: auto;
    width: 100%;
    max-width: 120px;
  }
h1{
  font-family: 'Candara';
}
img{
  width: 80%;
}
.containerIcon{
  height: 100px;
  width: 100px;
  margin-right: 1%;
  margin-top: 0.5%;
}
a{
  text-decoration: none;
  color: black;
}



