<div class="contenedor" style="overflow-x: hidden;">
    <div class="row">
      <div class="navbar">
        <!-- contenido del primer div -->
        <app-navbar></app-navbar>
      </div>
    </div>
    <div class="row">
      <div class="botons">
        <!-- contenido del segundo div -->
        <app-botons></app-botons>
      </div>
    </div>
    <div class="row">
      <div class="rutas">
        <!-- contenido del tercer div -->
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>