<div class="containerFlex" style="overflow-x: hidden;">
    <div class="row">
      <div class="col-md-12">
        <!-- contenido del primer div -->
        <app-navbar></app-navbar>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 botons">
        <!-- contenido del segundo div -->
        <app-botons></app-botons>
      </div>
    </div>
    <div class="row router">
      <div class="col-md-12">
        <!-- contenido del tercer div -->
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>