nav{
    background-color: rgba(35, 171, 215, 1);
    height: 90%;
    width: 100%;
}

ul{
    list-style: none;
    display: flex;
    gap: 1%;
}

a{
    color: #fff;
    text-decoration: none;
    margin-top: 4%;
}