nav {
    background-color: rgba(35, 171, 215, 1);
    height: 90px; /* Cambié el porcentaje a píxeles para mayor precisión */
    width: 100%;
  }
  
  .activo {
    color: white;
    font-weight: bold;
  }
  
  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap; /* Añadí esta propiedad para que los elementos se envuelvan en pantallas más pequeñas */
    gap: 15px; /* Cambié el porcentaje a píxeles para mayor precisión */
    justify-content: space-between;
    margin-right: 2%;
  }
  
  a {
    color: #fff;
    text-decoration: none;
    margin-top: 4%;
  }