nav{
    background-color: rgba(35, 171, 215, 1);
    height: 90%;
    width: 100%;
}
.activo{
    color: white;
    font-weight: bold;
}
ul{
    list-style: none;
    display: flex;
    gap: 15%;
    justify-content: space-between;
    margin-right: 2%;

}

a{
    color: #fff;
    text-decoration: none;
    margin-top: 4%;
}