<nav>
    <div>
      <ul>
        <li routerLinkActive="activo" [routerLinkActiveOptions]="{exact: true}">
          <a [routerLink]="['jugadores/mercado']">Mercado</a>
        </li>
        <li routerLinkActive="activo">
          <a [routerLink]="['usuarios/lista']">Clasificacion</a>
        </li>
        <li routerLinkActive="activo">
          <a [routerLink]="['jugadores/equipo']">Equipo</a>
        </li>
        <li routerLinkActive="activo">
          <a [routerLink]="['jugadores/alineacion']">Alineacion</a>
        </li>
      </ul>
    </div>
  </nav>