
<div>

  <h1>Gestionar Usuarios</h1>
  <div class="tabla">
      <p-table class="table table-responsive" [value]="mercado" [paginator]="true" [rows]="10"
    [showCurrentPageReport]="true" currentPageReportTemplate="Mostrando {first} hasta {last} de {totalRecords} resultados">
      <ng-template pTemplate="header" class="header">
        <tr class="enunciado">
          <th pSortableColumn="nombre">Nombre</th>
          <th pSortableColumn="role">Role</th>
          <th>Acciones</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item>
        <tr>
        <td>{{item.nombre}}</td>
        <td>{{item.role}}</td>
        <td><a (click)="borrarUsuario(item.username)" class="btn btn-danger">Borrar</a></td>
        <td><a [routerLink]="['/usuarios/edit-role',item.username]" class="btn btn-warning">Editar</a></td>
        </tr>
      </ng-template>
    </p-table>
    <p-toast key="action"></p-toast>
    </div>
</div>