<h1 style="text-align: center;">Editar Rol</h1>
<div class="clase">
    
<form [formGroup]="myForm" (ngSubmit)="editarUsuarios()">
    <div class="row mb-3">
                <div class="col-sm-9">
            <div class="form-check">
                <input class="form-check-input"
                       type="radio"
                       value="ADMIN"
                       id="radioMasculino"
                       formControlName="role"
                       >
                <label class="form-check-label" for="radioMasculino">
                  ADMIN
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input"
                       type="radio"
                       value="USER"
                       id="radioFemenino"
                       formControlName="role"
                       >
                <label class="form-check-label" for="radioFemenino">
                  USER
                </label>
            </div>
            <div class="row">
                <div class="col">
                    <button class="btn btn-primary" [disabled]="myForm.invalid">
                        Guardar
                    </button>
                    <button class="btn btn-primary" [routerLink]="['/usuarios/accion']" >
                        Volver a gestion de usuarios
                    </button>
        </div>
    </div>
        </div>
    </div>
</form>
</div>